In [1]:
x=input('enter the first number')

enter the first number20

In [3]:
y=input('enter the second number')

enter the second number15

In [4]:
int(x)+int(y)

35

In [5]:
int(x)- int(y)

5

In [6]:
int(x)/int(y)

1.3333333333333333

In [7]:
int(x)*int(y)

300

In [9]:
x=int(input('enter the first number'))

enter the first number30

In [10]:
y=int(input('enter the second number'))

enter the second number2

In [11]:
x+y

32

In [12]:
x-y

28

In [13]:
x*y

60

In [14]:
x/y

15.0

In [16]:
n=int(input('enter the number of years'))

enter the number of years5

In [18]:
r=int(input('enter the rate percentage'))

enter the rate percentage7

In [21]:
p=int(input('enter the principle amount'))

enter the principle amount1000000

In [23]:
i=p*n*r/100

In [24]:
print(i)

350000.0

In [29]:
x=int(input('enter your marks'))

enter your marks48

In [33]:
if x>50:
  print("mission passed")
else:
  print('oombi')

oombi

In [38]:
x=int(input("enter your salary"))

enter your salary300000

In [37]:
if x>=250000:
  print("you are taxable")
else:
  print("you are not taxable")

you are taxable

In [39]:
x=int(input("enter your salary"))

enter your salary300000

In [40]:
if x>=250000:
  print("you are taxable")
else:
  print("you are not taxable")

you are taxable

In [43]:
t=(x-250000)*10/100

In [44]:
print("tax amount is",t)

tax amount is 5000.0

In [45]:
x=int(input("enter your salary"))

enter your salary300000

In [47]:
if x>=250000:
  print("you are taxable")
  print('your tax amount is',(x-250000)*10/100)
else:
  print("you are not taxable")

you are taxable
your tax amount is 5000.0

In [48]:
x=int(input("enter your salary"))

enter your salary550000

In [50]:
if x>=250000 and x<500000:
  print("you are taxable")
  print('your tax amount is',(x-250000)*10/100)
if x>500000:
  print('your tax amount is',(x-250000)*20/100)  
else:
  print("you are not taxable")

your tax amount is 60000.0